<div class='header'>
  <h1>{{title}}</h1>
</div>

{{#if haveFoto}}
  <div>
    <h3>Front foto</h3>
    <div class="img">
      <img src="/images/top-foto">
    </div>
  </div>
  </if>
{{/if}}

<div>
  <form action="/submit-top-foto" method="post" enctype="multipart/form-data">
    <fieldset>
      <input type="file" name="top_foto">
      <input type="submit">
    </fieldset>
  </form>
</div>

<div class='footer'>
  <a href="/">Main</a>
</div>
